{% extends 'my_app/plantilla_base.html' %}

{% block contenidoQueCambia %}

  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">Sobre Nosotros</h1>
                    <div class="text-muted fst-italic mb-2">El proyecto es una pagina estilo blog, donde usuarios pueden crear, editar y eliminar blogs solo si están logueados. Además, se puede crear una cuenta y loguear, luego de eso se habilitara un menú desplegable donde se podra modificar el usuario y hacer logout. El avatar se puede agregar o cambiar desde el Admin.  </div>

                </header>
                
                <figure class="mb-4"><img class="img-fluid rounded" src="https://i.im.ge/2022/10/05/1zrzE4.Sin-titulo-1.png" alt="..." /></figure>
                <section class="mb-5">
                    <p class="fs-5 mb-4"><b>Luca Garavelli</b></p>
                    <p class="fs-5 mb-4"> Tengo 18 años y estudie en el Colegio Inmaculada Concepción, Lomas de Zamora. <br> Mi Gmail es: lucagaravelli10@gmail.com</p>
                
                    <figure class="mb-8"><img class="img-fluid rounded" src="https://scontent.xx.fbcdn.net/v/t39.30808-6/310247081_3233164850231967_6814271626765980536_n.jpg?stp=dst-jpg_s851x315&_nc_cat=110&ccb=1-7&_nc_sid=dbeb18&_nc_ohc=0SAUjr6FeVkAX9TQpBh&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=00_AT80vftw3xtuyyYHipAMKu2_uJfFOlElq0k0cGpzfuI7jg&oe=6341F693" alt="..." /></figure>

                    <p class="fs-5 mb-4"><b>Luca Feijoo</b></p>
                    <p class="fs-5 mb-4">tengo 21 años, estudie en diferentes escuelas diferentes profesiones. <br>Actualmente soy bartender, intentando entrar al mundo informatico. <br>mi gmail: lfeijoo2001@gmail.com</p>
                </section>
        </div>
        
{% endblock %}

        